<?xml version="1.0" encoding="UTF-8"?>
<!--  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">  
    
  <bean id="myTxManager" class="com.jcommerce.core.dao.impl.MyTxManager">
  </bean>


  
    <bean id="DAO" class="com.jcommerce.core.dao.impl.DAOImpl">

	</bean>
	
    <bean id="DefaultManagerImpl" class="com.jcommerce.core.service.impl.DefaultManagerImpl">
		<property name="dao">
			<ref local="DAO"/>
		</property>
	</bean>

    <bean id="CustomizedManagerImpl" class="com.jcommerce.core.service.impl.CustomizedManagerImpl">
		<property name="dao">
			<ref local="DAO"/>
		</property>
	</bean>
    
    <bean id="DefaultManager"
      class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager" ref="myTxManager"/>
    <property name="target" ref="DefaultManagerImpl"/>
    <property name="transactionAttributes">
      <props>
        <prop key="get*">PROPAGATION_NEVER</prop>
        <prop key="someOtherBusinessMethod">PROPAGATION_REQUIRES_NEW</prop>
        <prop key="*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>
    
   <bean id="CustomizedManager"
      class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
    <property name="transactionManager" ref="myTxManager"/>
    <property name="target" ref="CustomizedManagerImpl"/>
    <property name="transactionAttributes">
      <props>
        <prop key="get*">PROPAGATION_NEVER</prop>
        <prop key="someOtherBusinessMethod">PROPAGATION_REQUIRES_NEW</prop>
        <prop key="*">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>
    
    <!-- Add Managers here -->
</beans>