<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://
    java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    
  
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml,/WEB-INF/action-servlet.xml</param-value>
    </context-param>
  	<filter>
  		<filter-name>OpenPersistenceManagerInView</filter-name>
  		<filter-class>
    		<!-- org.springframework.orm.jdo.support.OpenPersistenceManagerInViewFilter -->
    		com.jcommerce.gwt.server.MyOpenPersistenceManagerInViewFilter
  		</filter-class>
	</filter>
  	<filter>
  		<filter-name>UnderConstruction</filter-name>
  		<filter-class>
    		com.jcommerce.web.filter.UnderConstructionFilter
  		</filter-class>
  		<init-param>
    		<param-name>allow</param-name>
    		<param-value>article,brand,category,comment,flow,goods,home,region,user,captcha,search</param-value>
  		</init-param>
  		
	</filter>	
 	<filter>
  		<filter-name>encodingFilter</filter-name>
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  		<init-param>
   			<param-name>encoding</param-name>
   			<param-value>UTF-8</param-value>
  		</init-param>
 	</filter>
	
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>


   	<filter-mapping>
  		<filter-name>encodingFilter</filter-name>
  		<url-pattern>*</url-pattern>
  		<!--  *.do, -->
	</filter-mapping>
   	<filter-mapping>
  		<filter-name>UnderConstruction</filter-name>
  		<url-pattern>*.action</url-pattern>
  		<!--  *.do, -->
	</filter-mapping>
	
   	<filter-mapping>
  		<filter-name>OpenPersistenceManagerInView</filter-name>
  		<url-pattern>*.action</url-pattern>
  		<!--  *.do, -->
	</filter-mapping>
   	<filter-mapping>
  		<filter-name>OpenPersistenceManagerInView</filter-name>
  		<url-pattern>*.do</url-pattern>
  		<!--  *.do, -->
	</filter-mapping>
	
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>
    

	
   	<listener>
		<listener-class>example.InitListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.jcommerce.web.util.SessionListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
 
		<!-- FreemarkerServlet settings: --><init-param><param-name>TemplatePath</param-name><param-value>/</param-value></init-param><init-param><param-name>NoCache</param-name><param-value>true</param-value></init-param><init-param><param-name>ContentType</param-name><param-value>text/html</param-value></init-param>
 
		<!-- FreeMarker settings: --><init-param><param-name>template_update_delay</param-name><param-value>0</param-value><!-- 0 is for development only! Use higher value otherwise. --></init-param><init-param><param-name>default_encoding</param-name><param-value>utf-8</param-value></init-param><init-param><param-name>locale</param-name><param-value>en_US</param-value></init-param><init-param><param-name>number_format</param-name><param-value>0.##########</param-value></init-param>
 
		<load-on-startup>1</load-on-startup>
	</servlet>
 


    <servlet>
        <servlet-name>defaultService</servlet-name>
        <servlet-class>com.jcommerce.gwt.server.DefaultServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>specialService</servlet-name>
        <servlet-class>com.jcommerce.gwt.server.SpecialServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>gwtGttpService</servlet-name>
        <servlet-class>com.jcommerce.gwt.server.GWTHttpServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>imexportService</servlet-name>
        <servlet-class>com.jcommerce.gwt.server.ImportExportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    
    <servlet>
        <servlet-name>dynaImageService</servlet-name>
        <servlet-class>example.DynaImageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>loginAction</servlet-name>
        <servlet-class>com.jcommerce.gwt.server.LoginAction</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginAction</servlet-name>
        <url-pattern>/adminLogin.do</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
    

    <servlet-mapping>
        <servlet-name>defaultService</servlet-name>
        <url-pattern>/admin/defaultService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dynaImageService</servlet-name>
        <url-pattern>/admin/dynaImageService.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>dynaImageService</servlet-name>
        <url-pattern>/web/front/data/brandlogo/dynaImageService.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>specialService</servlet-name>
        <url-pattern>/admin/specialService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gwtGttpService</servlet-name>
        <url-pattern>/admin/gwtHttpService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imexportService</servlet-name>
        <url-pattern>/admin/imexportService.do</url-pattern>
    </servlet-mapping>
	
    <welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    	<welcome-file>old_home.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>  
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>  
    </error-page>
    
</web-app>
